<body ng-controller="cadastrosCtrl">
    <ion-view title="Cadastros" id="cadcontainer">
        <img id="logo" src="../img/logogrande-roxo.png">
        <ion-nav-buttons side="left">
            <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-content scroll="true">
            <div class="container" >
                <div id="cadtopo">

                    <div id="cadinfo">
                        <a href="#/app/cliente" id="cadcirculo" class="button icon ion-android-happy iconsize" ></a>
                        <h4 id="cadtexto">Clientes</h4>
                    </div>

                    <div id="cadinfo">
                        <a href="#/app/" id="cadcirculo" class="button icon ion-android-people iconsize"></a>
                        <h4 id="cadtexto">Profissionais</h4>
                    </div>

                    <div id="cadinfo">
                        <a href="#/app/" id="cadcirculo" class="button icon ion-settings iconsize"></a>
                        <h4 id="cadtexto">Serviços</h4>
                    </div>

                    <div id="cadinfo">
                        <a href="#/app/" id="cadcirculo" class="button icon ion-clock iconsize"></a>
                        <h4 id="cadtexto">Horários de Atendimento</h4>
                    </div>

                    <div id="cadinfo">
                        <a href="#/app/" id="cadcirculo" class="button icon ion-lock-combination iconsize"></a>
                        <h4 id="cadtexto">Bloqueio de Horários</h4>
                    </div>

                </div> 
            </div>
        </ion-content>
    </ion-view>
</body>