<body>
    <ion-view title="Configurações" id="cadcontainer">
        <ion-nav-buttons side="left">
            <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-content scroll="true">
            <div class="container" >
                <div id="cadtopo">
                    
                    <div id="cadinfo">
                        <button id="cadcirculo" class="button icon ion-android-happy iconsize"></button>
                        <h4 id="cadtexto">Notificações</h4>
                    </div>

                    <div id="cadinfo">
                        <button id="cadcirculo" class="button icon ion-android-people iconsize"></button>
                        <h4 id="cadtexto">Perfil</h4>
                    </div>

                    <div id="cadinfo">
                        <button id="cadcirculo" class="button icon ion-settings iconsize"></button>
                        <h4 id="cadtexto">Agendamentos</h4>
                    </div>

                </div> 
            </div>
        </ion-content>
    </ion-view>
</body>