<ion-view title="Página Inicial">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content >

        <div id="backnovo">

            <button id="entreroxo" class="button button-light" href="#/app/login">Entre</button>

            <div class="center">
                <h2 id="textos">Uma maneira rápida e prática de realizar seus agendamentos</h2>
                <button id="cadroxo" class="button" ui-sref="cadastro">Quero Participar!</button>
            </div>

            <!-- Conjunto de Cards 1 Desktop -->
            <div id="colunas" class="row">
                <div id="col" class="col col-33">
                    <div id="cardicones" class="card"> 
                        <i id="iroxo" class="icon material-icons md-48">flight_takeoff</i>
                        <h4>Produtividade</h4>
                        <h5>Mais produtividade no seu dia-a-dia!</h5>
                    </div>  
                </div>
                <div id="col" class="col col-33">
                    <div id="cardicones" class="card">
                        <i id="iroxo" class="icon material-icons md-48">group_add</i>
                        <h4>Modernize</h4>
                        <h5>Modernize e tenha mais visibilidade!</h5>
                    </div>  
                </div>
                <div id="col" class="col col-33">
                    <div id="cardicones" class="card">
                        <i id="iroxo" class="icon material-icons md-48">photo_size_select_large</i>
                        <h4>Flexibilidade</h4>
                        <h5>Use no navegador ou no smartphone!</h5>
                    </div>
                </div>
            </div>
            <!-- Conjunto de Cards 1 Desktop -->
            <!-- Conjunto de Cards Mobile -->
            <div id="cardmobile" class="list card">
                <div class="item item-icon-left">
                    <i id="iroxo" class="icon material-icons md-24">flight_takeoff</i>
                    <h3 id="textdesk">Mais produtividade no seu dia-a-dia!</h3>
                </div>
                <div class="item item-icon-left">
                    <i id="iroxo" class="icon material-icons md-48">group_add</i>
                    <h3 id="textdesk">Modernize e tenha mais visibilidade!</h3>
                </div>
                <div class="item item-icon-left">
                    <i id="iroxo" class="icon material-icons md-48">photo_size_select_large</i>
                    <h3 id="textdesk">Use no navegador ou no smartphone!</h3>
                </div>
                <div class="item item-icon-left">
                    <i id="iroxo" class="icon material-icons md-48">public</i>
                    <h3 id="textdesk">Integrado com serviços Google!</h3>
                </div>
            </div>
            <!-- Conjunto de Cards mobile -->
            <div>
                <button id="sobreroxo" class="button button-light" ui-sref="sobre">Sobre</button>
            </div>

        </div>
        <div id="backnovo2">

            <div>
                <button id="entreverde" class="button button-light" ui-sref="login">Entre</button>
            </div>

            <div class="center">
                <h2 id="textos">Uma maneira rápida e prática de realizar seus agendamentos</h2>
                <button id="cadverde" class="button" ui-sref="cadastro">Quero Participar!</button>
            </div>

            <!-- Conjunto de Cards 1 Desktop -->
            <div id="colunas" class="row">
                <div id="col" class="col col-33">
                    <div id="cardicones" class="card"> 
                        <h2 id="iverde" class="icon material-icons"></h2>
                        <h4>Integração</h4>
                        <h5>Integração com o Google Agenda e com o Google Maps.</h5>
                    </div>  
                </div>
                <div id="col" class="col col-33">
                    <div id="cardicones" class="card">
                        <h2 id="iverde" class="icon material-icons"></h2>
                        <h4>Economize dinheiro</h4>
                        <h5>Utilize o AgendaKi e poupe o dinheiro das ligações.</h5>
                    </div>  
                </div>
                <div id="col" class="col col-33">
                    <div id="cardicones" class="card">
                        <h2 id="iverde" class="icon material-icons"></h2>
                        <h4>Foco no usuário</h4>
                        <h5>O Agendaki tem foco no usuário, tem o uso facilitado e agiliza seu dia-a-dia!</h5>
                    </div>
                </div>
            </div>
            <!-- Conjunto de Cards 1 Desktop -->
            <!-- Conjunto de Cards Mobile -->
            <div id="cardmobile" class="list card">
                <div class="item item-icon-left">
                    <h2 id="iverde" class="icon material-icons"></h2>
                    <h2 id="textdesk">Mais produtividade no seu dia-a-dia!</h2>
                </div>
                <div class="item item-icon-left">
                    <h2 id="iverde" class="icon material-icons"></h2>
                    <h2 id="textdesk">Modernize e tenha mais visibilidade!</h2>
                </div>
                <div class="item item-icon-left">
                    <h2 id="iverde" class="icon material-icons"></h2>
                    <h2 id="textdesk">Use no navegador ou no smartphone!</h2>
                </div>
                <div class="item item-icon-left">
                    <h2 id="iverde" class="icon material-icons"></h2>
                    <h2 id="textdesk">Integrado com serviços Google!</h2>
                </div>
            </div>
            <!-- Conjunto de Cards mobile -->

            <div>
                <button id="sobreverde" class="button button-light" ui-sref="sobre">Sobre</button>
            </div>
        </div>

    </ion-content>
</ion-view>